body {
  font-family: "Source Sans Pro", sans-serifs;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

.container {
  max-width: 1210px;
  flex: 1;
  height: inherit;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}

/* .icon-menu {
  display: none;
  font-size: 30px;
  color: #1b2127;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 5px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed; 
} */

.burger-button{
  display: none;
  width: 50px;
  height: 50px;
  font-size:25px;
  margin: 8px 0 0 10px;
  border-radius: 50%;
  color: #f4f9fd;  
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  line-height: 50px;
  position: fixed;
  z-index: 4;

}
.header {
  background-color: #1d252c;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logoContainer {
  margin: 0;
  display: flex;
  align-items: center;
}

.logoContainer img {
  height: 70px;
}

.menuContainer {
  height: inherit;
}

.menuContainer ol {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
}

.menuContainer ol,
li {
  height: inherit;
  list-style: none;
}

.menuContainer a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #1b2127;
  color: white;
}
.hero_img {
  width: 50%;
  height: inherit;
  object-fit: cover;
  /* background-image: url('./src/hero.jpg');
    background-size: 700px 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; */
}

.hero h1 {
  width: 50%;
  margin: 0;
  margin-left: 10px;
  font-size: 2em;
  letter-spacing: -0.2px;
  line-height: 1.5em;
}

.hero h1 strong {
  color: #026fff;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.portfolio h2 {
  color: #026fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serifs;
}
.project {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.project-details {
  width: 50%;
  /* align-self: flex-start; */
  margin: 0;
}
.project_title {
  font-size: 30px;
  margin: 0 0 10px 0;
}
.project_course,
.project_date,
.project_url {
  margin: 10px 0;
  font-size: 16px;
}
.project_description {
  font-size: 20px;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}
.project_imageContainer {
  margin: 0;
  width: 50%;
  text-align: center;
}
.project_image {
  /* object-fit: cover;  */
  max-width: 100%;
  /* width: 100%; */
}

.experience {
  /* padding: 20px; */
}
.experience h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serifs;
}
.experienceContainer {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 40px; */
  /* padding: 0 20px; */
}
.event {
  margin: 1%;
  width: 48%;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #f4fbff;
  /* border: 1px solid black; */
}
.event_imageContainer {
  margin: 0;
}
.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center 30%;
}
.html_video {
  width: 100%;
  height: auto;
}

.youtubeContainer {
  width: 100%;
  height: 0;
  padding-top: 56.94%;
  position: relative;
}
.youtube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.event_details {
  background-color: white;
  margin: -40px 20px 20px;
  padding: 20px;
  position: relative;
  text-align: center;
}
.event_description {
  text-align: left;
}
.event_url {
  color: #026fff;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px;
  text-decoration: none;
}
.contact {
  padding: 10px 30px;
  color: white;
  background-color: #026fff;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.form_email h3 {
  margin-top: 0;
  font-family: "Source Sans Pro", sans-serifs;
}
.form_email input {
  padding: 5px 15px 5px 30px;
  border-color: gray;
  background-image: url(./src/envelope.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  border-radius: 5px;
  border-style: solid;
}
.form_email button {
  display: block;
  margin: 10px 0 0 0;
  background: transparent;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
  border-style: solid;
}
.social_link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 5px;
}
.social_link.twiter {
  background-image: url(./src/twitter.svg);
}
.social_link.facebook {
  background-image: url(./src/facebook.svg);
}
.social_link.github {
  background-image: url(./src/github.svg);
}
.social_link.instagram {
  background-image: url(./src/instagram.svg);
}
.footer {
  padding: 0 20px;
  color: white;
  background-color: #1d252c;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer img {
  vertical-align: middle;
  width: 80px;
}
.footer a {
  color: white;
}

@media screen and (max-width: 768px) {
  
  /* .icon-menu{
    display: block;
  } */

  .burger-button{
    display: block;
  }

  body {
    border: 2px solid red;
  }
  .header {
    display: block;
    height: auto;
  }
  .hero {
    justify-content: center;
    position: relative;
  }
  .hero h1 {
    margin: 0;
    font-size: 2em;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero_img {
    z-index: 0;
    position: absolute;
    object-position: center 30%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menuContainer{
    font-size: 40px;
    position: fixed;
    background-color:rgba(2, 111, 255, 0.8);
    top: 0;
    /* left: 0; */
    left: -100vw;
    transition: 0.3s;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
  }
  .menuContainer.is-active{
    left: 0;
  }
  .menuContainer ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .menuContainer ol li {
    height: 50px;
  }
  .menuContainer ol li a {
    justify-content: center;
  }
  .header .logoContainer {
    justify-content: center;
  }
  .project {
    display: block;
  }
  .project_imageContainer {
    width: auto;
  }
  .project-details {
    width: auto;
    /* font-size: 16px; */
  }
  .project_course,
  .project_date,
  .project_url {
    margin: 0.3em 0;
  }
  .project_title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project_course {
    font-size: 0.8em;
  }
  .project_date {
    font-size: 0.8em;
  }
  .project_url {
    font-size: 1em;
  }
  .project_description {
    font-size: 1em;
  }
  .event {
    width: 48%;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  body {
    border: 2px solid blue;
  }
  .hero {
    position: relative;
  }
  .hero h1 {
    z-index: 1;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero h1 strong {
    color: #ffa600;
  }
  .hero_img {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .project-details {
    font-size: 16px;
  }
  /* .project_description {
    font-size: .8em;
  } */
  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event_details {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
  .contact {
    display: block;
    height: auto;
    text-align: center;
    padding: 1em auto;
  }
  .form_email button {
    margin: 1em auto;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}
@media screen and (max-width: 320px) {
  body {
    border: 2px solid green;
  }
  .hero h1 {
    font-size: 1.3em;
    margin: 0;
  }
}